In [3]:
import pandas as pd

# za nas ce rad sa pandasom biti uglavnom ovakav:
#     uvitamo podatke iz nekog fajla
#     pripremimo ih/obradimo  (upoznavanje sa podacima)
#     struktuisemo za ulaz u algoritme masinskog ucenja

In [5]:
# ucitavamo podatke u data frame
df = pd.read_csv('iris.csv')

# da vidimo prvih nekoliko instanci da bi videli sta se sve nalazi u tabeli
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
# za kratak opis podataka imamo describe, koja moze da nam da neke statistike o podacima
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
print(df.size)   # koliko podataka imamo    (primetimo da ovo nisu metodi nego atributi od df)
print(df.shape)  # oblik podataka (br_redova, br_kolona )
print(df.shape[1])  # broj kolona je broj atributa svakog podatka

750
(150, 5)
5

In [13]:
print(df.columns)  # ovako izlistamo sve kolone(da bismo videli koje atribute podaci imaju)
                   # primetimo da ovim dobijamo Index objekat

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [16]:
# zelimo npr da izvucemo neki uzorak podataka, npr 10% svih podataka (0.1)
df_sample = df.sample(frac=0.1)
print(df_sample.size)

75

In [19]:
# ponekad nam je pogodno da smanjimo broj atributa koje nasi podaci imaju 
# to deluje neintuitivno, ali smanjivanjem atributa ponekad se moze dobiti bolji model
# ovako bismo izdvojili neke atribute:
df[['sepal_length', 'sepal_width']].head()

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [26]:
# mozemo indeksirati data frame kao neki obican dvodimenzioni niz sa iloc
# mozemo i da radimo slice, npr da izvucemo sve redove i kolone od nulte do 4.
X = df.iloc[:, :4]
print(X.head())

print()

# ako hocemo da koristimo imena atributa, koristimo loc umesto iloc
X = df.loc[:, ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
print(X.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2